[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djongo = "*"
pymongo = "<=3.12.1"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.7"
